@model Infraestructure.Models.Empleado

<h3>¿Desea desactivar a este usuario?</h3>
<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rol.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rol.Descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm("DeleteConfirmed", "Empleado", new { id = Model.Id }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Desactivar" class="btn btn-danger" />
        </div>
    }
</div>
