@model List<Web.ViewModel.ViewModelOrdenDetalle>

<div style="margin-top:0%; margin-bottom:10%;">

    <div class="table-responsive-sm">

        <table class="table table-striped">
            <tr>
                <th>
                    Producto
                </th>
                <th class="center">
                    Cantidad
                </th>
                <th class="right">
                    Precio
                </th>

                <th class="right">
                    SubTotal
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(modelItem => item.Producto.Id)
                        @Html.DisplayFor(modelItem => item.Producto.Descripcion)
                    </td>
                    <td class="right" style="width:1.5em">
                        @Html.DisplayFor(modelItem => item.Cantidad, new
                        {
                            htmlAttributes = new
                   {
                                @class = "form-control changeCantidad",
                       data_productoid = item.Producto.Id,
                       @readonly = "true"
                            }
                   })
                    </td>
                    <td class="right">

                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>

                    <td class="right">
                        @Html.DisplayFor(modelItem => item.SubTotal)
                    </td>


                    <td>
                        @Ajax.ActionLink("Eliminar",//Texto para el usuario
                            "eliminarProducto",//Acción a llamar
                            "Orden",
                            new
                            {
                                productoID = item.ProductoId
                            },//Parámetros a enviar
                            new AjaxOptions
                            {
                                UpdateTargetId = "resultadoDetalle",
                                InsertionMode = InsertionMode.Replace,
                                HttpMethod = "GET",
                                OnComplete = "updateCantProductos()"
                            }, new { @class = "btn btn-primary" }
                            )
                    </td>
                </tr>
            }

        </table>
    </div>
    <div class="row">
        <div class="col-lg-5 col-sm-5"></div>
        <div class="col-lg-7 col-sm-5 ml-auto">
            <table class="table table-clear">
                <tbody>

                    <tr>
                        <td class="left">
                            <strong>Subtotal</strong>
                        </td>
                        <td class="right">
                            <strong> @(((decimal)Web.ViewModel.ViewModelCarrito.Instancia.GetSubTotal()).ToString("C2"))</strong>
                        </td>
                    </tr>

                    <tr>
                        <td class="left">
                            <strong>Impuesto</strong>
                        </td>
                        <td class="right">
                            <strong> @(((decimal)Web.ViewModel.ViewModelCarrito.Instancia.GetImpuesto()).ToString("C2"))</strong>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Total</strong>
                        </td>
                        <td class="right">
                            <strong>@(((decimal)Web.ViewModel.ViewModelCarrito.Instancia.GetTotal()).ToString("C2"))</strong>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>


