@model IEnumerable<Infraestructure.Models.Orden>

@{
    ViewBag.Title = "Órdenes";
}

<div class="container" style="margin:100px auto">

    <h2>Lista de Ordenes registradas</h2>
    <hr />
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group" style="width:100px; margin:5px;">
            @using (Html.BeginForm("ObtenerOrdenesEnPreparacion", "Orden", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Ordenes en preparación" title="Ordenes en preparación" class="btn btn-primary" style="width:200px; " />

                </div>
            }
        </div>
        <div class="btn-group" role="group" style="width:100px; margin:5px;">
            @using (Html.BeginForm("ObtenerOrdenesFinalizadas", "Orden", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Ordenes finalizadas" title="Ordenes finalizadas" class="btn btn-primary" style="width:200px;" />
                </div>
            }
        </div>
        <div class="btn-group" role="group" style="width:100px; margin:5px;">
            @using (Html.BeginForm("IndexAdmin", "Orden", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Mostrar todas las ordenes" title="Mostrar todas las ordenes" class="btn btn-primary" style="width:200px;" />
                </div>
            }

        </div>
        @*<div class="btn-group" role="group" style="width:100px; margin:5px;">
                <h1 class="my-4">Estado</h1>
                <div class="list-group">
                    @foreach (var estado in (List<Infraestructure.Model.Estado>)ViewBag.EstadoID)
                    {
                        @Ajax.ActionLink(estado.Nombre,//Texto para el usuario
                       "ordenEstado",//Acción a llamar
                       "Orden",
                       new
                            {
                           id = estado.EstadoID
                       },//Parámetros para la acción
                       new AjaxOptions
                            {
                           UpdateTargetId = "resultado",
                           InsertionMode = InsertionMode.Replace,
                           HttpMethod = "GET",
                           LoadingElementId = "ajaxLoader"
                       }, new { @class = "list-group-item" }
                       )
                    }
                </div>
            </div>*@

    </div>

    <br />
    <div class="row">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaCreacion)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.IdCondicionOrden)
                    </th>
                </tr>
            </thead>
            <tbody id=" resultado">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaCreacion)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.CondicionOrden.Descripcion)
                        </td>
                        <td>
                            @Html.ActionLink("Detalle", "Details", new { id = item.Id })  |
                            @using (Html.BeginForm("Edit", "Orden", new { id = item.Id }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color">
                                    <input type="submit" value="Editar" class="btn btn-primary" />

                                </div>

                            }

                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryajax")
}