@model Infraestructure.Models.Orden

@{
    ViewBag.Title = "Orden";
}

@using (Html.BeginForm("Save", "Orden", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div style="margin-top:0%; margin-bottom:0%;">
        <h2>Orden </h2>
        <hr />
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FechaCreacion, htmlAttributes: new { @class = "col-form-label" })
                        <div class="col-md-10">
                            @Html.HiddenFor(model => model.FechaCreacion, htmlAttributes: new
                       {
                           @class = "form-control",
                           @Value = DateTime.Now.ToString("yyyy-MM-dd"),
                           @readonly = "readonly"
                       })
                            @Html.ValidationMessageFor(model => model.FechaCreacion, "", new { @class = "text-danger" })
                        </div>
                        @* Para Mostrar la fecha en un formato agradable para el usuario *@
                        <div class="col-md-10">
                            @{
                                string format = "dd 'de' MMMM 'del' yyyy";
                                var now = DateTime.Now.ToString(format);
                                <h4 style="color: gray">@now</h4>
                            }
                        </div>

                        <hr />
                        <h3 style="margin-top: 1%">Información del Cliente</h3>
                        <div class="form-group">
                            @Html.LabelFor(model => model.NombreCliente, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.NombreCliente, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NombreCliente, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ApellidosCliente, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ApellidosCliente, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ApellidosCliente, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <hr />
                <div id="resultadoDetalle" class="col-md-12">
                    <div class="col-md-12">
                        @if (Web.ViewModel.ViewModelCarrito.Instancia.Items.Count() > 0)
                        {
                            <h3>Resumen de la Orden</h3>
                            @Html.Partial("~/Views/Orden/_DetalleOrden.cshtml", (List<Web.ViewModel.ViewModelOrdenDetalle>)ViewBag.DetalleOrden)
                        }
                        else
                        {
                            <div class="alert alert-warning" style="margin-bottom: 8%; margin-top: 1.5%">
                                La Orden no tiene Productos asignados
                            </div>
                        }
                    </div>
                </div>
                <div class="col-md-12">
                    @* Enviar mensaje y guardar orden *@
                    <!-- Submit -->
                    <button type="submit" onclick="enviarMensaje()" class="btn btn-success btn-lg btn-primary" id="btnOrdenar" style="margin-bottom:5%; margin-top: -5%">
                        <i class="fab fa-whatsapp"></i> Enviar Orden
                    </button>
                </div>
            </div>
        </div>

        <div id="divMensaje">
            @* Creación del mensaje de Whatsapp *@
            @{
                if (Web.ViewModel.ViewModelCarrito.Instancia.Items.Count() > 0)
                {
                    decimal total = Web.ViewModel.ViewModelCarrito.Instancia.GetTotal();
                    decimal ivaTotal = Web.ViewModel.ViewModelCarrito.Instancia.GetImpuesto();
                    int numOrden = Web.ViewModel.ViewModelCarrito.Instancia.Items[0].getUltimaOrdenId();

                    string mensaje = "Orden: # *" + numOrden + "*%0A" +
                        "Fecha: *" + now + "*%0A%0A" +
                        "*Productos:*%0A";

                    foreach (var item in (List<Web.ViewModel.ViewModelOrdenDetalle>)ViewBag.DetalleOrden)
                    {
                        mensaje += "🏍️ *" + item.Producto.Descripcion + "*" +
                            "%0ACantidad: " + item.Cantidad +
                            "%0APrecio: ₡" + item.Precio.ToString("##,00.00") +
                            "%0ASubtotal: ₡" + item.SubTotal.ToString("##,00.00") + "%0A%0A";
                    }
                    mensaje += "Total IVA: ₡" + ivaTotal.ToString("##,00.00") +
                        "%0A%0A✅ *Total Final: ₡" + total.ToString("##,00.00") + "* ✅";

                    <textarea id="mensaje" style="display: none; white-space: pre-wrap">@mensaje</textarea>
                }
            }
        </div>
    </div>

}
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/jqueryui")

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    @* Método para obtener el texto del mensaje *@
    <script>

        //function validarCampos() {
        //    var nombre = document.getElementById("NombreCliente").value;
        //    var apellidos = document.getElementById("ApellidosCliente").value;
        //    if (nombre == "" || apellidos == "") {
        //        swal("Atención", "Por favor asegúrese de haber llenado todos los campos", "warning");
        //        return;
        //    }
        //}

        function enviarMensaje() {

            var nombre = document.getElementById("NombreCliente").value;
            var apellidos = document.getElementById("ApellidosCliente").value;
            if (nombre != "" && apellidos != "") {

                var texto = "*Resumen de la Orden* 📝%0A%0A" +
                    "Cliente: *" + nombre + " " + apellidos + "*%0A" +
                    document.getElementById("mensaje").value;

                var telefono = 50683482932;

                window.open("https://web.whatsapp.com/send?phone=" + telefono + "&text=" + texto, "_blank");
            }
            else {
                swal("Atención", "Por favor asegúrese de haber llenado todos los campos", "warning");
                return;
            }
        }

        function sleep(milliseconds) {
            const date = Date.now();
            let currentDate = null;
            do {
                currentDate = Date.now();
            } while (currentDate - date < milliseconds);
        }
    </script>

    <script type="text/javascript">

        //Actualizar cantidad de productos en el carrito
        //Cambio de cantidad en caja de texto
        function updateCantidad(ctr) {
            var txtCantidad = $(ctr);
            var cantidad = txtCantidad.val();
            var id = txtCantidad.data("productoid");
            $.ajax({
                type: "GET",
                dataType: 'text',
                url: "/Orden/actualizarCantidad",
                data: { "productoID": id, "cantidad": cantidad },
                success: function (data) {
                    $("#resultadoDetalle").html('');
                    $("#resultadoDetalle").html(data);
                    updateCantProductos();
                }, error: function (xhr, status, error) {
                    console.log("Error: " + error + ", No Error: " + xhr.status);
                },
            });
        }
        //Actualizar cantidad de productos en el menú
        function updateCantProductos() {
            $.ajax({
                type: "GET",
                dataType: 'text',
                url: "/Orden/actualizarOrdenCantidad",
                success: function (data) {
                    $("#cantidadProductos").html('');
                    $("#cantidadProductos").html(data);
                }, error: function (xhr, status, error) {
                    console.log("Error: " + error + ", No Error: " + xhr.status);
                },
            });
        }

    </script>
}
