@model Infraestructure.Models.Empleado


@* Se fuerza que no utilice el layout de la aplicación para que no muestre el menú.*@
@{
    Layout = Layout = "~/Views/Shared/_Login.cshtml";
}

@{
    ViewBag.Title = "Recuperación de contraseña";
}

<h2 align="center">Cambio de contraseña</h2>

@if (TempData["Message"] != null)
{
    string mensaje = @"<div class='alert alert-danger alert-dismissible' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'>
<span aria-hidden='true'>&times;</span> </button><strong>Error!</strong> " + TempData["Message"] + " </div>";
@Html.Raw(mensaje);
}


@using (Html.BeginForm("Recuperacion", "Login", FormMethod.Post))
{
    //@Html.AntiForgeryToken()


    <div class="form-horizontal" id="formulario" align="center">
        @Html.HiddenFor(model => model.TokenRecuperacion)

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.Contrasenia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*Campo tipo password*@
                @Html.PasswordFor(model => model.Contrasenia, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Contrasenia, "", new { @class = "text-danger" })
            </div>
        </div>

        @*Para la confirmación de contraseña*@
        <div class="form-group">
            @Html.Label("Confirmar", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Password("Confirmar", "", new { @class = "form-control" })
                <label class="text-danger" id="mensaje"></label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input onclick="passwordValidate()" type="submit" value="Entrar" class="btn btn-success" />
            </div>
        </div>
    </div>


}

<style>
    body {
        margin-top: 10%;
    }

    footer {
        margin-top: 16.5%
    }

    .btn {
        width: 60%
    }
</style>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function passwordValidate() {
            if (document.getElementById("Confirmar").value != document.getElementById("Contrasenia").value) {
                alert("Las contraseñas no coinciden");
                event.preventDefault();
            }
        }
    </script>

    <script>
        $(document).ready(function () {
            $('#mensaje').hide();
        });

        var cambioDePass = function () {
            var cont = $('#Contrasenia').val();
            var cont2 = $('#Confirmar').val();
            if (cont == cont2) {
                $('#mensaje').hide();
                $('#mensaje').show();
                $('#mensaje').html("");
            } else {
                $('#mensaje').html("Las constraseñas no coinciden");
                $('#mensaje').show();
            }
        }

        $("#Contrasenia").on('keyup', cambioDePass);
        $("#Confirmar").on('keyup', cambioDePass);

    </script>
}


