@model Infraestructure.Models.Producto

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>

        <dd>
            <input class="zoom" type="image" src="data:image/jpeg;charset=utf-8;base64,@Convert.ToBase64String(Model.Imagen)" id="ImagenActivo" style="height:75px;width:75px">
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioUnidad)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.PrecioUnidad)*@
            @Html.DisplayName(string.Format("{0:C}", Model.PrecioUnidad))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IVA)
        </dt>

        <dd> 
            @Html.DisplayFor(model => model.IVA)
        </dd>

        <dt>
            @Html.DisplayName("Marca")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarcaProducto.Descripcion)
        </dd>

        <dt>
            @Html.DisplayName("Tipo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoProducto.Descripcion)
        </dd>

    </dl>
</div>

<style>
    /* Cuando el puntero del Mouse se coloque encima de la imagen la amplia, es un efecto para que se vea
            bonito :)
        */
    <!-- Hacer + grande a imagen sobre la image -->
    .zoom {
    }

    .zoom:hover {
        transform: scale(3.5); /* (250% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
</style>
