@model IEnumerable<Infraestructure.Models.Cita>

@{
    ViewBag.Title = "List";
}

<h2>Lista de citas para el día de hoy</h2>


<table class="table table-responsive-sm" style="margin-bottom: 30%">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidosCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefonoCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotivoCita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraCita)
        </th>
        <th>
            @Html.DisplayName("Modelo Moto")
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.NombreCliente)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ApellidosCliente)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TelefonoCliente)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MotivoCita)
    </td>
    <td>
        @*@Html.DisplayFor(modelItem => item.FechaCita)*@
        @Convert.ToDateTime(item.FechaCita).ToString("dd/MM/yyyy")
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HoraCita)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ModeloMoto.MarcaMoto.Descripcion) @Html.DisplayFor(modelItem => item.ModeloMoto.Descripcion)
    </td>
</tr>
}

</table>
