<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - RB's Spare</title>
    @Styles.Render("~/Content/css")
    @*@Styles.Render("~/Content/cssjqueryuiy")*@
    @*@Styles.Render("~/Content/fontawesome")*@
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/toastr.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" @*style="background-color: #e31110;"*@>
        <a href="@Url.Action("Index", "Home")"><img class="img img-responsive" src="@Url.Content("~/Img/Logo_Nuevo.png")" width="80" height="80" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                @{
                    Infraestructure.Models.Empleado empleado;
                    if (Session["User"] != null)
                    {
                        // Casting
                        empleado = Session["User"] as Infraestructure.Models.Empleado;

                        if (empleado != null)
                        {
                            if (empleado.IdRol == 1)
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="menu" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mantenimientos</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="@Url.Action("List", "TipoProducto")">Tipos de Producto</a>
                                        <a class="dropdown-item" href="@Url.Action("List", "MarcaProducto")">Marcas de Producto</a>
                                        <a class="dropdown-item" href="@Url.Action("List", "Producto")">Productos</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="menu" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administración</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="@Url.Action("List", "Empleado")">Control de Empleados</a>
                                        <a class="dropdown-item" href="@Url.Action("Index", "Respaldos")">Creación de Respaldos</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="menu" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Procesos</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="@Url.Action("IndexAdmin", "Orden")">Administración de Órdenes</a>
                                        <a class="dropdown-item" href="@Url.Action("List", "Cita")">Citas del día</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="menu" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reportes</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="@Url.Action("ReporteOrdenes", "Reportes")">Reporte de Órdenes</a>
                                        <a class="dropdown-item" href="@Url.Action("ReporteCitas", "Reportes")">Reporte de Citas</a>
                                    </div>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="menu" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Procesos</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="@Url.Action("List", "Cita")">Citas del día</a>
                                    </div>
                                </li>
                            }
                        }
                    }
                }
                <li class="nav-item">
                    <a class="nav-link" id="menu" href="@Url.Action("Catalogo", "Producto", new { id = "menu" })" )">Catálogo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="menu" href="@Url.Action("Index", "Cita")">Citas para el taller</a>
                </li>
                <li class="menu__item" id="cantidadProductos">
                    @Html.Partial("_OrdenCantidad")
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    @{
                        string nombre = "";
                        Infraestructure.Models.Empleado oEmpleado;
                        // Validar si vienen datos en la session
                        if (Session["User"] != null)
                        {
                            // Casting
                            oEmpleado = Session["User"] as Infraestructure.Models.Empleado;

                            if (oEmpleado != null)
                            {
                                nombre = $"{oEmpleado.Nombre} {oEmpleado.Apellidos}";

                                <a class="dropdown-toggle" data-toggle="dropdown" id="menu">
                                    @nombre
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item dropdown">
                                        <a class="dropdown-item" href="@Url.Action("Logout", "Login")">
                                            Salir
                                            <span class="glyphicon   glyphicon-log-out" aria-hidden="true"></span>
                                        </a>

                                    </li>
                                </ul>
                            }
                        }
                        else
                        {
                            <a style="margin-top: 1%" id="menu" href="@Url.Action("Index", "Login")">
                                Iniciar Sesión
                                <span class="glyphicon  glyphicon-log-in " aria-hidden="true"></span>
                            </a>
                        }


                    }
                </li>
            </ul>
        </div>
    </nav>

    <br />
    <br />
    <br />
    <br />

    <div class="container body-content">
        @RenderBody()

    </div>

    @*<footer class="py-lg-4 bg-light sticky-bottom" align="center" style="position:relative">
            <div class="container px-4">
                <p class="m-0 text-center">&copy; @DateTime.Now.Year - RB's Spare</p>
                <p class="m-0 text-center">Versión 1.0.2</p>
            </div>
        </footer>*@



    <!-- Footer -->
    <footer class="page-footer font-small" style="background-color:lightgray; margin-bottom:-2%; margin-top:8%;">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-4 col-lg-4 mr-auto my-md-4 my-0 mt-4 mb-1" align="justify">

                    <!-- Content -->
                    <h5 class="font-weight-bold text-uppercase mb-4">Nosotros</h5>
                    <p>
                        Somos un negocio de venta de repuestos para motocicletas de todo estilo y marca,
                        además de contar con un servicio de taller especializado donde se realizan trabajos que van desde
                        mantenimientos y mecánica general hasta mecánica avanzada con personal altamente capacitado en este ámbito.
                    </p>
                    <p>
                        Además buscamos mejorar la oferta de repuestos para motocicletas mientras se proponen precios asequibles
                        de cara al público.
                    </p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-4 col-lg-5 mx-auto my-md-4 my-0 mt-4 mb-1" style="padding-left:12%;" align="center">

                    <!-- Contact details -->
                    <h5 class="font-weight-bold text-uppercase mb-4">Información</h5>

                    <ul class="list-unstyled">
                        <li>
                            <p>
                                <i class="fas fa-map-marker-alt"></i>  600 metros oeste del Automercado Herradura
                            </p>
                        </li>
                        <li>
                            <p>
                                <i class="fa fa-envelope"></i>  motorepuestoryb@gmail.com
                            </p>
                        </li>
                        <li>
                            <p>
                                <i class="fab fa-whatsapp"></i> 8555-8382
                            </p>
                        </li>
                        <li>
                            <p>
                                <i class="fa fa-phone"></i> 2637-6226
                            </p>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 text-center mx-auto my-4">

                    <!-- Social buttons -->
                    <h5 class="font-weight-bold text-uppercase mb-4">Siguenos</h5>

                    <!-- Facebook -->
                    <a type="button" title="Moto Repuestos Ramírez & Barboza" href="https://www.facebook.com/Moto-repuestos-Ram%C3%ADrez-Barboza-1790145137929981/" class="btn-floating btn-fb">
                        <i class="fab fa-facebook fa-3x"></i>
                    </a>


                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            © @DateTime.Now.Year Copyright
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<style>
    #menu {
        color: white;
    }

        #menu.dropdown-toggle:focus {
            color: white;
            /*background-color: #d60c0c;*/
        }

        #menu.dropdown-toggle {
            color: white;
            /*background-color: #e31110;*/
        }

        #menu:hover {
            transform: translateY(-1px) scale(1.05);
        }
</style>
