<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - RB's Spare</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="~/Content/toastr.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #e31110;">
        <a href="@Url.Action("Index", "Home")"><img class="img img-responsive" src="@Url.Content("~/Img/Logo opcional.png")" width="70" height="70" /></a>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    @*<footer class="py-lg-4 fixed-bottom" align="center" style="background-color:lightgray">
    <div class="container px-4">
        <p class="m-0 text-center">&copy; @DateTime.Now.Year - RB's Spare</p>
        <p class="m-0 text-center">Versión 1.0.2</p>
    </div>
    </footer>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<style>
</style>
