@model IEnumerable<Infraestructure.Models.Cita>

@{
    Layout = "~/Views/Shared/_Login.cshtml";
}

@{
    string nombre = "";
    Infraestructure.Models.Empleado oEmpleado;
    // Validar si vienen datos en la session
    if (Session["User"] != null)
    {
        // Casting
        oEmpleado = Session["User"] as Infraestructure.Models.Empleado;

        if (oEmpleado != null)
        {
            nombre = $"{oEmpleado.Nombre} {oEmpleado.Apellidos}";
        }
    }
}

<h1 style="margin-top: 80px">Moto Repuestos Ramírez & Barboza S.A.</h1>
<h4 style="color:grey">Creado por: @nombre</h4>
<h5 style="color:grey">Fecha de creación: @DateTime.Now.ToString("dd 'de' MMMM 'del' yyyy 'a las' HH:mm ")</h5>

<h3 style="margin-top:50px">Lista de Citas @ViewBag.mesCitas</h3>

<table class="table table-responsive-md" style="margin-top: 10px">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidosCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotivoCita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraCita)
        </th>
        <th>
            @Html.DisplayName("Motocicleta")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidosCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotivoCita)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.FechaCita)*@
                @Convert.ToDateTime(item.FechaCita).ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraCita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModeloMoto.MarcaMoto.Descripcion)  @Html.DisplayFor(modelItem => item.ModeloMoto.Descripcion)
            </td>
        </tr>
    }

</table>